<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= head.title %></title>
    <meta name="description" content="<%= head.desc %>">
    <link rel="icon" href="<%= head.icon %>" type="image/x-icon">

    <meta property="og:title" content="<%= head.title %>">
    <meta property="og:description" content="<%= head.desc %>">
    <meta property="og:image" content="<%= head.icon %>">
    <meta property="og:type" content="website">

    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <style>
      body {
        background: linear-gradient(to right, #4e54c8, #8f94fb);
      }
      .login-container {
        background: white;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      }
      .login-header {
        background: linear-gradient(to right, #4e54c8, #8f94fb);
        color: white;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
      .login-button {
        background: linear-gradient(to right, #4e54c8, #8f94fb);
        color: white;
      }
      .login-button:hover {
        background: linear-gradient(to right, #8f94fb, #4e54c8);
      }
    </style>
  </head>
  <body class="flex items-center justify-center min-h-screen" style="font-family: 'Poppins', sans-serif;">
    
    <% if(alert == 'Incorrect Email') { %>
      <script>
        Swal.fire({
          title: 'Wrong Email!',
          text: 'Email yang anda input tidak ada di database.',
          icon: 'warning',
          confirmButtonText: 'OK'
        })
      </script>
    <% } else if(alert == 'Incorrect Password') { %>
      <script>
        Swal.fire({
          title: 'Wrong Password!',
          text: 'Password yang anda input salah.',
          icon: 'warning',
          confirmButtonText: 'OK'
        })
      </script>
    <% } else if(alert == 'Email Success') { %>
      <script>
        Swal.fire({
          title: 'Email Sucess',
          text: 'Link ganti password telah dikirim ke email anda.',
          icon: 'success',
          confirmButtonText: 'OK'
        }).then(() => {
          window.location.href = '/login';
        })
      </script>
    <% } %>
    <div class="login-container w-full max-w-md p-8">
      <div class="login-header text-center py-4">
        <h1 class="text-2xl font-bold">CahKost</h1>
        <p class="mt-2">Masuk untuk menjelajah lebih dalam</p>
      </div>
      <div class="mt-6 space-y-4">
        <button
          class="w-full flex justify-center items-center py-2 px-4 border border-gray-500 rounded-md shadow-sm text-sm font-semibold text-gray-800 bg-white hover:bg-blue-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          onclick="window.location.href='/auth/google';"">
          <img
            src="/assets/images/google.png"
            alt="Google"
            class="w-7 h-5 mr-2"
          />
          Masuk dengan Google
        </button>
      </div>
      <br />
      <div class="flex items-center justify-center">
        <span class="border-t border-gray-900 flex-grow mr-3"></span>
        <span class="text-gray-900">atau</span>
        <span class="border-t border-gray-900 flex-grow ml-3"></span>
      </div>
        <form method="post" action="/login" class="mt-8 space-y-6">
          <div>
            <label for="email" class="block text-sm font-semibold text-gray-900"
              >Email</label
            >
            <div class="relative mt-1">
            <input
              type="email"
              id="email"
              name="email"
              placeholder="name@company.com"
              required
              class="block w-full px-3 py-2 border border-gray-500 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm text-gray-900"
            /></div>
          </div>
          <div>
            <label
              for="password"
              class="block text-sm font-semibold text-gray-900"
              >Password</label
            >
            <div class="relative mt-1">
              <input
                id="hs-toggle-password"
                type="password"
                name="password"
                class="block w-full px-3 py-2 border border-gray-500 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm text-gray-900"
                placeholder="Enter Password"
                required
              />
              <button
                type="button"
                id="toggle-password"
                class="absolute inset-y-0 right-0 flex items-center px-3 text-gray-500 hover:text-gray-700"
              >
                <svg
                  id="eye-icon-open"
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-5 w-5"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 3C6.48 3 2 9 2 12s4.48 9 10 9 10-6 10-9-4.48-9-10-9zm0 12a3 3 0 100-6 3 3 0 000 6z"
                  />
                </svg>
                <svg
                  id="eye-icon-closed"
                  xmlns="http://www.w3.org/2000/svg"
                  class="hidden h-5 w-5"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M3 3l18 18M12 6c4.67 0 8 6 8 6s-3.33 6-8 6-8-6-8-6 3.33-6 8-6zm0 10a4 4 0 100-8 4 4 0 000 8z"
                  />
                </svg>
              </button>
            </div>
          </div>
          <div class="flex items-center justify-between">
            <div class="flex items-center">
              <input
                id="remember_me"
                name="remember_me"
                type="checkbox"
                class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded"
              />
              <label for="remember_me" class="ml-2 block text-sm text-gray-900"
                >ingat saya</label
              >
            </div>
            <div class="text-sm">
              <a
                href="#"
                id="forgot-password-link"
                class="font-medium text-indigo-500 hover:text-indigo-400"
                >lupa password?</a
              >
            </div>
          </div>
          <div>
            <button
              type="submit"
              class="login-button w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            >
              Masuk
            </button>
          </div>
        </form>
      <p class="mt-6 text-center text-sm text-gray-600">
        Belum punya akun?
        <a
          href="/register"
          class="font-medium text-indigo-600 hover:text-indigo-500"
          >Daftar di sini</a
        >
      </p>
    </div>
    <div
      id="forgot-password-modal"
      class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden"
    >
      <div class="bg-white p-6 rounded-lg shadow-lg max-w-md w-full relative">
        <!-- Tombol Tutup Modal -->
        <button
          id="close-modal"
          class="absolute top-3 right-3 text-gray-500 hover:text-gray-700 focus:outline-none"
          aria-label="Close Modal"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
        <p class="mb-4 text-gray-600">
          Masukkan email Anda untuk menerima tautan reset password.
        </p>
        <form method="post" action="/login/forgot-password" class="space-y-4">
          <div>
            <label
              for="reset-email"
              class="block text-sm font-semibold text-gray-700"
              >Email</label
            >
            <input
              type="email"
              id="reset-email"
              name="email"
              required
              placeholder="name@company.com"
              class="mt-1 block w-full px-3 py-2 border border-gray-500 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
            />
          </div>
          <div>
            <button
              type="submit"
              class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-semibold text-white bg-gradient-to-r from-indigo-600 to-blue-500 hover:bg-gradient-to-l focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            >
              Kirim
            </button>
          </div>
        </form>
      </div>
    </div>
    <script>
      document
        .getElementById("toggle-password")
        .addEventListener("click", function () {
          const passwordInput = document.getElementById("hs-toggle-password");
          const eyeIconOpen = document.getElementById("eye-icon-open");
          const eyeIconClosed = document.getElementById("eye-icon-closed");

          if (passwordInput.type === "password") {
            // Tampilkan password
            passwordInput.type = "text";
            // Tampilkan ikon mata tertutup dan sembunyikan mata terbuka
            eyeIconOpen.classList.add("hidden");
            eyeIconClosed.classList.remove("hidden");
          } else {
            // Sembunyikan password
            passwordInput.type = "password";
            // Tampilkan ikon mata terbuka dan sembunyikan mata tertutup
            eyeIconOpen.classList.remove("hidden");
            eyeIconClosed.classList.add("hidden");
          }
        });

      const modal = document.getElementById('forgot-password-modal');
      const closeModalButton = document.getElementById('close-modal');
      const openModalButton = document.getElementById('forgot-password-link');

      // Event listener untuk tombol buka modal
      openModalButton.addEventListener('click', showModal);

      // Fungsi untuk menampilkan modal
      function showModal() {
        modal.classList.remove('hidden'); // Menampilkan modal
      }

      // Event listener untuk tombol tutup
      closeModalButton.addEventListener('click', function() {
        modal.classList.add('hidden'); // Menyembunyikan modal
      });
      modal.addEventListener('click', function(event) {
        if (event.target === modal) {
          modal.classList.add('hidden');
        }
      });
    </script>
  </body>
</html>