<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= head.title %></title>
    <meta name="description" content="<%= head.desc %>">
    <link rel="icon" href="<%= head.icon %>" type="image/x-icon">

    <meta property="og:title" content="<%= head.title %>">
    <meta property="og:description" content="<%= head.desc %>">
    <meta property="og:image" content="<%= head.icon %>">
    <meta property="og:type" content="website">

    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body
    class="flex items-center justify-center min-h-screen bg-gradient-to-r from-blue-500 to-indigo-500" style="font-family: 'Poppins', sans-serif;"
  >
  <% if(alert == 'Token Invalid') { %>
    <script>
      Swal.fire({
        title: 'Session Expired!',
        text: 'Session token telah expired.',
        icon: 'warning',
        confirmButtonText: 'OK'
      }).then(() => {
        window.location.href = '/login';
      })
    </script>
  <% } else if(alert == 'Password Minimum') { %>
    <script>
      Swal.fire({
        title: 'Password Minimum!',
        text: 'Password yang anda input kurang dari 8 karakter.',
        icon: 'warning',
        confirmButtonText: 'OK'
      })
    </script>
  <% } else if(alert == 'Password Not Same') { %>
    <script>
      Swal.fire({
        title: 'Password Not Same!',
        text: 'Password yang anda input berbeda.',
        icon: 'warning',
        confirmButtonText: 'OK'
      })
    </script>
  <% } else if(alert == 'Change Success') { %>
    <script>
      Swal.fire({
        title: 'Change Password Success!',
        text: 'Password berhasil diganti.',
        icon: 'success',
        confirmButtonText: 'OK'
      }).then(() => {
        window.location.href = "/login"
      })
    </script>
  <% } %>
    <div class="w-full max-w-md bg-white p-6 rounded-lg shadow-md">
      <h1 class="text-2xl font-bold text-center mb-6">Buat Kata Sandi Baru</h1>

      <form method="post" action="/reset-password/<%= token %>" class="space-y-6">

        <div>
          <label
            for="email"
            class="block text-sm font-semibold text-gray-900"
            >Email</label
          >
          <div class="relative mt-1">
          <input
            type="email"
            id="email"
            name="email"
            value="<%= email %>"
            readonly
            class="block w-full px-3 py-2 border border-gray-500 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm text-gray-900"
          /></div>
        </div>
        <!-- Input Kata Sandi Baru -->
        <div>
          <label
            for="password"
            class="block text-sm font-semibold text-gray-900"
            >Kata Sandi Baru</label
          >
          <div class="relative mt-1">
            <input
              id="hs-toggle-password"
              type="password"
              name="npassword"
              class="block w-full px-3 py-2 border border-gray-500 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm text-gray-900"
              placeholder="Enter Password"
            />
            <button
              type="button"
              id="toggle-password"
              class="absolute inset-y-0 right-0 flex items-center px-3 text-gray-500 hover:text-gray-700"
            >
              <svg
                id="eye-icon-open"
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 3C6.48 3 2 9 2 12s4.48 9 10 9 10-6 10-9-4.48-9-10-9zm0 12a3 3 0 100-6 3 3 0 000 6z"
                />
              </svg>
              <svg
                id="eye-icon-closed"
                xmlns="http://www.w3.org/2000/svg"
                class="hidden h-5 w-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3 3l18 18M12 6c4.67 0 8 6 8 6s-3.33 6-8 6-8-6-8-6 3.33-6 8-6zm0 10a4 4 0 100-8 4 4 0 000 8z"
                />
              </svg>
            </button>
          </div>
        </div>

        <!-- Input Konfirmasi Kata Sandi -->
        <div>
          <label
            for="password"
            class="block text-sm font-semibold text-gray-900"
            >Konfirmasi Kata Sandi Baru</label
          >
          <div class="relative mt-1">
            <input
              id="hs-toggle-passwordd"
              type="password"
              name="cpassword"
              class="block w-full px-3 py-2 border border-gray-500 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm text-gray-900"
              placeholder="Enter Password"
            />
            <button
              type="button"
              id="toggle-passwordd"
              class="absolute inset-y-0 right-0 flex items-center px-3 text-gray-500 hover:text-gray-700"
            >
              <svg
                id="eye-icon-openn"
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 3C6.48 3 2 9 2 12s4.48 9 10 9 10-6 10-9-4.48-9-10-9zm0 12a3 3 0 100-6 3 3 0 000 6z"
                />
              </svg>
              <svg
                id="eye-icon-closedd"
                xmlns="http://www.w3.org/2000/svg"
                class="hidden h-5 w-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3 3l18 18M12 6c4.67 0 8 6 8 6s-3.33 6-8 6-8-6-8-6 3.33-6 8-6zm0 10a4 4 0 100-8 4 4 0 000 8z"
                />
              </svg>
            </button>
          </div>
        </div>

        <!-- Tombol Submit -->
        <div>
          <button
            type="submit"
            class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-semibold text-white bg-gradient-to-r from-indigo-600 to-blue-500 hover:bg-gradient-to-l focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          >
            Simpan Kata Sandi Baru
          </button>
        </div>
      </form>
    </div>

    <script>
      document
        .getElementById("toggle-password")
        .addEventListener("click", function () {
          const passwordInput = document.getElementById("hs-toggle-password");
          const eyeIconOpen = document.getElementById("eye-icon-open");
          const eyeIconClosed = document.getElementById("eye-icon-closed");

          if (passwordInput.type === "password") {
            // Tampilkan password
            passwordInput.type = "text";
            // Tampilkan ikon mata tertutup dan sembunyikan mata terbuka
            eyeIconOpen.classList.add("hidden");
            eyeIconClosed.classList.remove("hidden");
          } else {
            // Sembunyikan password
            passwordInput.type = "password";
            // Tampilkan ikon mata terbuka dan sembunyikan mata tertutup
            eyeIconOpen.classList.remove("hidden");
            eyeIconClosed.classList.add("hidden");
          }
        });
      document
      .getElementById("toggle-passwordd")
        .addEventListener("click", function () {
          const passwordInput = document.getElementById("hs-toggle-passwordd");
          const eyeIconOpen = document.getElementById("eye-icon-openn");
          const eyeIconClosed = document.getElementById("eye-icon-closedd");

          if (passwordInput.type === "password") {
            // Tampilkan password
            passwordInput.type = "text";
            // Tampilkan ikon mata tertutup dan sembunyikan mata terbuka
            eyeIconOpen.classList.add("hidden");
            eyeIconClosed.classList.remove("hidden");
          } else {
            // Sembunyikan password
            passwordInput.type = "password";
            // Tampilkan ikon mata terbuka dan sembunyikan mata tertutup
            eyeIconOpen.classList.remove("hidden");
            eyeIconClosed.classList.add("hidden");
          }
        });
    </script>
  </body>
</html>